<main class="main-content bg-body-tertiary min-vh-100">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-3">
                <div class="card cursor-pointer shadow-sm" routerLink="/ProfileCard">
                    <img src="imgs/ProfileCard.png" class="w-100" alt="Project Image">
                    <div class="card-body pt-0">
                        <h5 class="card-title fs-3">Profile Card</h5>
                        <div class="project-topics d-flex justify-content-center align-items-center gap-1">
                            <span class="card-text badge text-bg-success">String interpolation</span>
                            <span class="card-text badge text-bg-success">Two way data binding</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card cursor-pointer shadow-sm" routerLink="/counter">
                    <img src="" class="w-100" alt="Project Image">
                    <div class="card-body pt-0">
                        <h5 class="card-title fs-3">Counter</h5>
                        <div class="project-topics d-flex justify-content-center align-items-center gap-1">
                            <span class="card-text badge text-bg-success">event binding</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>